.third_main_container {
	padding: calc(80px * 1349 / 1440) calc(75px * 1349 / 1440);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #d0d1d7;
}
.text_container {
	width: calc(595vw / 14.4);
	display: flex;
	flex-direction: column;
	text-align: start;
}

.header {
	font-family: "Montserrat Alternates";
	font-style: normal;
	font-weight: 500;
	font-size: 72px;
	line-height: 125%;
	/* or 90px */

	letter-spacing: -0.05em;
	text-align: left;
}

.img {
	width: calc(525vw / 14.4);
}
.paragraph {
	color: black;
	font-size: 24px;
	text-align: left;
}
.third_blue_button {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	/* identical to box height, or 36px */

	display: flex;
	align-items: center;
	text-align: center;

	color: #ffffff;
	background: #161d61;
	border-radius: 24px;

	justify-content: center;
	align-items: center;
	padding: 0 24px;
	margin-right: 24px;

	cursor: pointer;
}

.third_white_button {
	background: #ffffff;
	border: 1px solid #1f2223;
	border-radius: 24px;

	justify-content: center;
	align-items: center;
	padding: 0 24px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	color: black;

	cursor: pointer;
}

.line2 {
	width: calc(116vw / 14.4);
	margin: 0 0 24px 0;
}

.review {
	display: flex;
	align-items: flex-start;
}

.review_text {
	width: calc(294vw / 14.4);
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	color: #000000;
}
.star_raiting {
	display: flex;
}

.star {
	margin-right: 12px;
}
